{% extends "main/base.html" %}

{% block content %}
    <div class="article-item-box csdn-tracking-statistics" data-articleid="43768803">
        <h2 class="text-truncate">
            <a target="_blank">
                {{ blog.title }} </a>
        </h2>
        <p class="content">
            <a target="_blank" style="color: #999">
                {{ blog.body | safe }}</a>
        </p>
    </div>
    {% for comment in comments %}
        <div class="info-box d-flex align-content-center">
            <p>
                留言:
            </p>
            <p>
                <span class="date">{{ comment.text }}</span>
            </p>
        </div>
    {% endfor %}

{% endblock %}