{% extends "main/base.html" %}

{% block content %}
    <script type="text/css">
        .article-list .article-item-box h4 {
            margin-bottom: 8px;
            font-size: 20px;
            line-height: 28px;
            color: #3d3d3d;
        }
    </script>
    <div class="article-list" style="width: 80%;">
        {% for blog in blog_list %}
            <div class="article-item-box csdn-tracking-statistics" data-articleid="43768803">
                <h2 class="text-truncate">
                    <a target="_blank" href="/detail/{{ blog.id }}">
                        {{ blog.title }} </a>
                </h2>
                <p class="content">
                    <a target="_blank" style="color: #999">
                        {{ blog.body | safe }}</a>
                </p>
                <p class="content">
                    {% for img in blog.imglist %}
                        <img src="{{ img }}" width="150px" height="100px" style="display: inline">
                    {% endfor %}
                </p>
                <div class="info-box d-flex align-content-center">
                    <p>
                        <span class="date">{{ blog.createDate }}</span>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>




{% endblock %}