<style type="text/css">
    .nav-wrap {
        width: 1001px;
        margin: 0 auto;
        border-radius: 5px;
        height: 50px;
        background: #6cc;
        margin-top: 5px;
        box-shadow: 2px 2px 2px #bdbdbd;
    }

    .nav-wrap ul li {
        width: 140px;
        float: left;
        text-align: center;
        margin-right: 3px;
    }

    .nav-wrap ul li a#active, .nav-wrap ul li a:hover {
        background: #f15694;
        border-radius: 5px;
        width: 140px;
    }

    .nav-wrap ul li a#active {
        color: #fff;
        height: 50px;
    }

    .nav-wrap ul li a {
        display: block;
        width: 140px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        line-height: 50px;
    }
</style>
<div class="logo fl" style="width: 80%; height:0;padding-bottom: 15%; overflow: hidden; margin: auto;">
    <a href="/">
        <img src="http://p9zorofe3.bkt.clouddn.com/image/timg.jpg" alt="logo" width="100%" height="300px">
        <span style="position: absolute; top: 7%;left: 12%;color: white;"><li class="text-1">
            天行健，君子以自强不息。
        </li>
        <li class="text-2">
           地势坤，君子以厚德载物。
        </li>
    </a>
</div>
<nav id="nav" class="nav-wrap">
    <ul class="clearfix" style="display: block; ">
        <li style="display: inline;">
            <a href="/" style="text-decoration:none">
                首页
            </a>
        </li>
        <li id="navEnd" style="display: inline;">
            <a href="/" style="text-decoration:none">
                留言版
            </a>
        </li>
    </ul>
</nav>