<style type="text/css">
    aside {
        width: 300px;
        float: left;
        padding-left: 10%;
    }

    aside div.aside-box {
        margin-bottom: 8px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }

    aside div.aside-box h3.aside-title {
        font-size: 12px;
        color: #3d3d3d;
        background: #f5f5f5;
        padding: 0 16px;
        height: 38px;
        line-height: 38px;
    }

    aside #asideProfile .profile-intro {
        padding: 16px 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #e3e3e3;
    }

    aside #asideProfile .data-info {
        padding: 16px 10px;
        border-bottom: 1px solid #e3e3e3;
    }

    aside #asideProfile .grade-box {
        margin-top: -8px;
        padding: 16px;
    }

    aside #asideProfile .badge-box {
        position: relative;
        margin-top: -8px;
        padding: 0 16px 16px;
    }

    aside #asideProfile .profile-intro .avatar-box img.avatar_pic {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    aside #asideProfile .profile-intro .user-info p.name a {
        display: inline-block;
        color: #3d3d3d;
        font-weight: 700;
        max-width: 100px;
    }

    .text-center {
        text-align: center;
    }

    .item-tiling > * {
        width: 100%;
    }

    .d-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
</style>
<aside>
    <div id="asideProfile" class="aside-box">
        <h3 class="aside-title">个人资料</h3>
        <div class="profile-intro d-flex">
            <div class="avatar-box d-flex justify-content-center flex-column">
                <a href="https://my.csdn.net/zhangphil">
                    <img src="https://avatar.csdn.net/9/7/A/3_zhangphil.jpg" class="avatar_pic">
                </a>
            </div>
            <div class="user-info d-flex justify-content-center flex-column">
                <p class="name csdn-tracking-statistics tracking-click" data-mod="popu_379">
                    <a href="https://my.csdn.net/zhangphil" target="_blank" class="text-truncate" id="uid">Gavin</a>
                </p>
            </div>
        </div>
        <div class="data-info d-flex item-tiling">
            <dl class="text-center" title="635">
                <dt><a href="https://blog.csdn.net/zhangphil?t=1">原创</a></dt>
                <dd><a href="https://blog.csdn.net/zhangphil?t=1"><span class="count">635</span></a></dd>
            </dl>
            <dl class="text-center" title="3073">
                <dt>粉丝</dt>
                <dd><span class="count" id="fan">3073</span></dd>
            </dl>
            <dl class="text-center" title="397">
                <dt>喜欢</dt>
                <dd><span class="count">397</span></dd>
            </dl>
            <dl class="text-center" title="413">
                <dt>评论</dt>
                <dd><span class="count">413</span></dd>
            </dl>
        </div>
    </div>
    <div id="asideCustom60374330" class="aside-box custom-box">
        <h3 class="aside-title">关于我</h3>
        <div class="aside-content clearfix">
            邮箱: 3169887281@qq.com
        </div>
    </div>
    <div id="asideArchive" class="aside-box flexible-box">
        <h3 class="aside-title">归档</h3>
        <div class="aside-content">
            <ul class="archive-list">
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2018/06">
                        2018年6月 <span class="count float-right">4篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2018/05">
                        2018年5月 <span class="count float-right">21篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2018/04">
                        2018年4月 <span class="count float-right">32篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2018/03">
                        2018年3月 <span class="count float-right">11篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2018/02">
                        2018年2月 <span class="count float-right">5篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2018/01">
                        2018年1月 <span class="count float-right">43篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/12">
                        2017年12月 <span class="count float-right">23篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/11">
                        2017年11月 <span class="count float-right">14篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/10">
                        2017年10月 <span class="count float-right">16篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/09">
                        2017年9月 <span class="count float-right">20篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/08">
                        2017年8月 <span class="count float-right">17篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/07">
                        2017年7月 <span class="count float-right">2篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/06">
                        2017年6月 <span class="count float-right">3篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/05">
                        2017年5月 <span class="count float-right">15篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/04">
                        2017年4月 <span class="count float-right">5篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/03">
                        2017年3月 <span class="count float-right">14篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/02">
                        2017年2月 <span class="count float-right">4篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2017/01">
                        2017年1月 <span class="count float-right">1篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/12">
                        2016年12月 <span class="count float-right">1篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/11">
                        2016年11月 <span class="count float-right">6篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/10">
                        2016年10月 <span class="count float-right">12篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/09">
                        2016年9月 <span class="count float-right">9篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/08">
                        2016年8月 <span class="count float-right">7篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/07">
                        2016年7月 <span class="count float-right">22篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/06">
                        2016年6月 <span class="count float-right">27篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/05">
                        2016年5月 <span class="count float-right">10篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/04">
                        2016年4月 <span class="count float-right">9篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/03">
                        2016年3月 <span class="count float-right">9篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/02">
                        2016年2月 <span class="count float-right">1篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2016/01">
                        2016年1月 <span class="count float-right">16篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2015/12">
                        2015年12月 <span class="count float-right">42篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2015/11">
                        2015年11月 <span class="count float-right">40篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2015/10">
                        2015年10月 <span class="count float-right">43篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2015/09">
                        2015年9月 <span class="count float-right">20篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2015/08">
                        2015年8月 <span class="count float-right">26篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2015/07">
                        2015年7月 <span class="count float-right">12篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2015/06">
                        2015年6月 <span class="count float-right">4篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2015/05">
                        2015年5月 <span class="count float-right">9篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2015/04">
                        2015年4月 <span class="count float-right">11篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2015/03">
                        2015年3月 <span class="count float-right">19篇</span>
                    </a>
                </li>
                <!--归档统计-->
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/month/2015/02">
                        2015年2月 <span class="count float-right">45篇</span>
                    </a>
                </li>
            </ul>
        </div>
        <p class="text-center">
            <a class="btn btn-link-blue flexible-btn" data-fbox="aside-archive">展开</a>
        </p>
    </div>
    <div id="asideCategory" class="aside-box flexible-box">
        <h3 class="aside-title">个人分类</h3>
        <div class="aside-content">
            <ul>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/2886121">
                        Android <span class="count float-right">543篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/2893357">
                        Java <span class="count float-right">88篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/2887827">
                        Windows <span class="count float-right">4篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/2887829">
                        C <span class="count float-right">4篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/2887973">
                        IT <span class="count float-right">5篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/2909871">
                        Eclipse <span class="count float-right">4篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/2911097">
                        XML <span class="count float-right">3篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/2913721">
                        数据结构与算法分析 <span class="count float-right">4篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/5646711">
                        ORMLite <span class="count float-right">2篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/5657755">
                        设计模式 <span class="count float-right">1篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/5722669">
                        工具 <span class="count float-right">5篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/5785529">
                        ActiveMQ <span class="count float-right">1篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/5822183">
                        数据库 <span class="count float-right">5篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/5822185">
                        MySQL <span class="count float-right">3篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/6283818">
                        git <span class="count float-right">12篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/6759052">
                        RxJava <span class="count float-right">26篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/6759053">
                        RxAndroid <span class="count float-right">26篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7081859">
                        AndroidStudio <span class="count float-right">3篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7226581">
                        TCP <span class="count float-right">1篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7226582">
                        http <span class="count float-right">2篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7226583">
                        https <span class="count float-right">1篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7313948">
                        SQL <span class="count float-right">3篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7339168">
                        人工智能 <span class="count float-right">34篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7339169">
                        Artificial Intelligence <span class="count float-right">28篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7339170">
                        卷积神经网络 <span class="count float-right">3篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7339171">
                        Convolutional Neural Network <span class="count float-right">2篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7339172">
                        Deep Learning <span class="count float-right">28篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7339173">
                        深度学习 <span class="count float-right">30篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7339174">
                        机器学习 <span class="count float-right">31篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7339268">
                        AI <span class="count float-right">32篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7343834">
                        matlab <span class="count float-right">29篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7343835">
                        数学 <span class="count float-right">37篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7343836">
                        数值分析 <span class="count float-right">34篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7347293">
                        Machine Learning <span class="count float-right">23篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7379416">
                        Python <span class="count float-right">1篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7381387">
                        数学建模 <span class="count float-right">14篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7396041">
                        解决方案 <span class="count float-right">1篇</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/category/7604186">
                        Json <span class="count float-right">1篇</span>
                    </a>
                </li>
            </ul>
        </div>
        <p class="text-center">
            <a class="btn btn-link-blue flexible-btn" data-fbox="aside-archive">展开</a>
        </p>
    </div>
    <div id="asideHotArticle" class="aside-box">
        <h3 class="aside-title">热门文章</h3>
        <div class="aside-content">
            <ul class="hotArticle-list csdn-tracking-statistics tracking-click" data-mod="popu_521">
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/details/47981757" target="_blank">Github错误：fatal:
                        Authentication failed for 'https://github.com/ ...</a>
                    <p class="read">阅读量：<span>65527</span></p>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/details/50819930" target="_blank">Android加载Gif和ImageView的通用解决方案：android-gif-drawable（1）</a>
                    <p class="read">阅读量：<span>41622</span></p>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/details/52806374" target="_blank">Android
                        Glide加载图片时转换为圆形、圆角、毛玻璃等图片效果</a>
                    <p class="read">阅读量：<span>31364</span></p>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/details/45561983" target="_blank">基于开源框架Glide加载Gif资源图到Android
                        ImageView中</a>
                    <p class="read">阅读量：<span>30718</span></p>
                </li>
                <li>
                    <a href="https://blog.csdn.net/zhangphil/article/details/48877865" target="_blank">Android Material
                        Design：CoordinatorLayout与NestedScrollView</a>
                    <p class="read">阅读量：<span>29856</span></p>
                </li>
            </ul>
        </div>
    </div>
</aside>